
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add New Skill Page</h2>

<form method="post">
    <label>Skill Title</label>
    <input type="text" class="form-control" name="SkillTitle" />
    <br />
    <label>Skill Icon</label>
    <input type="text" class="form-control" name="SkillIcon" />
    <br />
    <label>SkillDescription</label>
    <input type="text" class="form-control" name="SkillDescription" />
    <br />
    <button class="btn btn-primary">Add Skill</button>
</form>

