@using ResumeProject.Models
@model List<TblContact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Inbox Message</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Open Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.FullName</td>
            <td>@item.TblCategory.CategoryName</td>
            <td>@item.Date</td>
            <td><a href="/Skill/DeleteSkill/@item.ContactID" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/Skill/UpdateSkill/@item.ContactID" class="btn btn-outline-success">Update</a></td>
            <td><a href="/Skill/UpdateSkill/" class="btn btn-outline-success">Open Message</a></td>
        </tr>
    }
</table>

