<div class="map mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.521667634284!2d29.018746204730324!3d40.99195386218971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab86f56c98ee9%3A0xb5343db60920a0ca!2zT3NtYW5hxJ9hLCBCYWhhcml5ZSBDZC4sIDM0NzE0IEthZMSxa8O2eS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1681478316505!5m2!1str!2str"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>